::ng-deep .btn-gradient-success {
  background: linear-gradient(45deg, #0dcaf0, #0d6efd) !important;
  color: white !important;
  border: none !important;
  box-shadow: 0 4px 10px rgba(13, 110, 253, 0.2);
  
  &:hover {
    background: linear-gradient(45deg, #0d6efd, #0dcaf0) !important; 
  }
}